<div class="container">
  <section class="projects_list personal_info pt-60 pb-30">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class="card pinfo_box shadow">
            <div class="row card-header m-0 justify-content-center">
              <div class="col-lg-2 col-2">
                <span class="d-block text-center"><i class="fa fa-angle-left"></i></span>
              </div>
              <div class="col-lg-8 col-5">
                <h3>Terms And Conditions</h3>
              </div>
              <div class="col-lg-2 col-2">
                <span class="d-block text-center"><i class="fa fa-ellipsis-v"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>