<div class="navbar-header pull-right">
  <div class="row" style="margin-top: 10px;margin-right: 50px;">
    <div class="form-group has-search" style="width: 500px;margin-right: 350px;">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text" class="form-control" placeholder="What type of project you need help with?">
    </div>
    <div class="app-header-right">
      <div class="header-btn-lg pr-0">
        <div class="widget-content p-0">
          <div class="widget-content-wrapper">
            <div class="widget-content-left">
              <div class="btn-group">
                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                  <img width="42" class="rounded-circle" src="{{imageUrl}}" alt="">
                  <i class="fa fa-angle-down ml-2 opacity-8"></i>
                </a>
                <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                  <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                    <img width="42" class="rounded-circle" src="{{imageUrl}}" alt="" style="margin-left: 75px;">
                  </a>
                  <br />
                  <div style="margin-left: 25px;">
                    <span style="margin-left: 25px;">{{customerId}}</span><br />
                    <span style="margin-left: 41px;">{{customerName}}</span><br />
                    <span>{{emailId}}</span>
                  </div>
                  <div tabindex="-1" class="dropdown-divider"></div>
                  <button type="button" tabindex="0" class="dropdown-item"
                    [routerLink]="['/customer/customer-profile']">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    &nbsp; &nbsp;MY PROFILE</button>
                  <button type="button" tabindex="0" class="dropdown-item" [routerLink]="['/customer/support-list']">
                    <i class="fa fa-user-md" aria-hidden="true"></i>
                    &nbsp; &nbsp;
                    CUSTOMER SUPPORT</button>
                  <button type="button" tabindex="0" class="dropdown-item"
                    [routerLink]="['/customer/terms-and-conditions-page']">
                    <i class="fa fa-file-text" aria-hidden="true"></i>
                    &nbsp; &nbsp;TERMS AND CONDITIONs</button>
                  <button type="button" tabindex="0" class="dropdown-item"
                    [routerLink]="['/customer/help-and-faqs-page']">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    &nbsp; &nbsp;HELP AND FAQS</button>
                  <button type="button" tabindex="0" class="dropdown-item" [routerLink]="['/customer/privacy-page']">
                    <i class="fa fa-envelope-square" aria-hidden="true"></i>
                    &nbsp; &nbsp;PRIVACY</button>
                  <div tabindex="-1" class="dropdown-divider"></div>
                  <button type="button" tabindex="0" class="dropdown-item" (click)="Logout()" >LOGOUT</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>