<!-- Topbar -->
<!-- <nav class="navbar navbar-expand-lg " style="background: rgba(0,0,0,0.92);backdrop-filter: saturate(180%) blur(20px);">
    <a class="navbar-brand" routerLink="/">
        <img src="../../../assets/img/tp-new-logofull.png" width="150px">
    </a>
</nav> -->
<div class="container">
    <div class="body">
        <div class="row">
            <div class="col-lg-4 col-sm-4 col-xs-12">
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="tabbable">
                    <br><br><br>
                    <div class="tab-pane in active">
                        <form >
                            <div class="login-container animated fadeInDown">
                                <div class="loginbox bg-white">
                                    <div class="loginbox-title" style="text-align: center;"></div>
                                    <br/><br/><br/>
                                    <div class="loginbox-textbox">
                                        <!-- <div class="input-wrapper">
                                            <input id="stuff">
                                            <label for="stuff" class="fa fa-user input-icon"></label>
                                          </div> -->
                                        <div class="form-group input-wrapper">
                                            <!-- <span class="input-icon icon-right"> -->
                                                <input type="text" class="form-control " placeholder="Enter Email ID"
                                                    formControlName="emailId">
                                                    <label for="stuff" class="fa fa-envelope input-icon"></label>
                                            <!-- </span> -->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="loginbox-submit">
                                                <input type="submit" class="btn cubtn" value="Submit">
                                            </div>
                                            </div>
                                    </div>
                                    <br/>
                                </div>
                            </div>
                           
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-12">
            </div>
        </div>
    </div>
</div>








