<div class="container">
  <section class="projects_list personal_info pt-60 pb-30">
    <div class="container">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-stats">
        <div class="row">
          <div class="col-lg-12 col-12">
            <div class="card pinfo_box shadow">
              <div class="row card-header m-0 justify-content-center">
                <div class="col-lg-2 col-2">
                  <span class="d-block text-center"><i class="fa fa-angle-left"></i></span>
                </div>
                <div class="col-lg-8 col-5">
                  <h3>My Pros</h3>
                </div>
                <div class="col-lg-2 col-2">
                  <span class="d-block text-center"><i class="fa fa-ellipsis-v"></i></span>
                </div>
              </div>
              <div class="card-body">
                <div class="container card mb-3" style="max-width: 1200px; height:200px">
                  <div class="row g-0" style="padding-top: 38px; padding-left: 48px;">
                    <div class="col-md-2">
                      <img [src]="proProfile.companyLogo" class="img-fluid rounded-start" alt="..."
                        style="width: 130px;height: 13d0px;">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body container">
                        <h5 class="card-title"><b>{{proProfile.businessName}}</b></h5>
                        <div>
                          <span class="card-text">HIRES ON TOPPROZ</span>
                        </div>
                        <br>
                        <div>
                          <span class="badge badge-primary cu_badgeratingCount">0</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <img src="../../../assets/images/7af0914c-6bb2-482a-8374-baa7738d6571.png"
                        class="img-fluid rounded-start" alt="..." style="width: 100px;height: 100px;">
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="container" style="max-width: 1200px; height:200px">
                  <div class="row g-0" style="padding-top: 38px; padding-left: 48px;">
                    <div class="col-9">
                      <table>
                        <tbody>
                          <tr>
                            <th>Google Rating:</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <th>
                              <star-rating [(value)]="proProfile.socialMediaLinks.googleRating" totalstars="5" checkedcolor="gold"
                                uncheckedcolor="grey" size="24px" readonly="false">
                              </star-rating>
                            </th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <th>
                              <h5>({{proProfile.socialMediaLinks.googleRating}})</h5>
                            </th>
                          </tr>
                          <tr>
                            <th>Yelp Rating:</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <th>
                              <star-rating [(value)]="proProfile.socialMediaLinks.yelpRating" totalstars="5" checkedcolor="gold"
                                uncheckedcolor="grey" size="24px" readonly="false">
                              </star-rating>
                            </th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <th>
                              <h5>({{proProfile.socialMediaLinks.yelpRating}})</h5>
                            </th>
                          </tr>
                          <tr>
                            <th>Aggregate Rating:</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <th>
                              <star-rating [(value)]="aggregateRating" totalstars="5" checkedcolor="red"
                                uncheckedcolor="grey" size="24px" readonly="false">
                              </star-rating>
                            </th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <th>
                              <h5>(Not Available)</h5>
                            </th>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                    <div class="col-2">
                      <div class="pinfo_btns">
                        <button class="btn btn-primary btn2 cubtn" (click)="bookNow()">Book Now</button>
                      </div>
                      <br>
                      <div class="pinfo_btns">
                        <button class="btn btn-primary btn2 cubtn" (click)="bookNow()">Get Quote</button>
                      </div>
                    </div>
                   
                  </div>
                  <div class="row g-0" style="padding-top: 38px; padding-left: 48px;">
                  <div>
                    <label class="main">
                      <input type="checkbox" class="input-assumpte" id="input-confidencial" />
                      &nbsp;&nbsp;&nbsp;
                     <b >INSURED</b>
                    </label>
                  </div>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <div>
                    <label>
                      <input type="checkbox"/>
                      &nbsp;&nbsp;&nbsp;
                     <b>BONDED</b>
                    </label>
                  </div>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <div>
                    <label>
                      <input type="checkbox"/>
                      &nbsp;&nbsp;&nbsp;
                    <b>WARRANTY OFFERED</b>
                    </label>
                  </div>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <div>
                    <label>
                      <input type="checkbox"/>
                      &nbsp;&nbsp;&nbsp;
                    <b>FREE ESTIMATES</b>
                    </label>
                  </div>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <div>
                    <label>
                      <input type="checkbox"/>
                      &nbsp;&nbsp;&nbsp;
                    <b>CREDIT CARD ACCEPTED</b>
                    </label>
                  </div>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </div>
              </div>
              <hr>
              <div class="card-body">
                <div class="container">
                  <div class="row g-0" style="padding-top: 38px; padding-left: 48px;">
                    <!-- <div class="col-1"></div> -->
                    <div class="col-9">
                      <b style="color: #ff6700;">Business Summary</b>
                    </div>
                    <div class="col-2">
                      <div class="pinfo_btns">
                        <button class="btn btn-primary btn2" (click)="bookNow()">Report Pro</button>
                      </div>
                    </div>
                  </div>
                  <div class="row g-0">
                    <div class="col-sm-1"></div>
                    <div class="col-10">
                      <div class="form-group">
                        <textarea id="w3review" name="w3review" rows="4" cols="50" placeholder="Enter Service Location"
                          formControlName="projectDescrption">
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry
                          </textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="container card mb-3" style="max-width: 1200px; height:200px">
                            <div style="padding-top: 38px; padding-left: 48px;">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div>Google</div>
                                        <br>
                                        <div>Yelp</div>
                                        <br>
                                        <div> Aggregate Rating</div>
                                    </div>
                                    <div class="col-md-2">
                                        <div>
                                            <star-rating [(value)]="googleRating" totalstars="0" checkedcolor="gold"
                                                uncheckedcolor="grey" size="24px" readonly="false"> </star-rating>

                                        </div>
                                        <div>
                                            <star-rating [(value)]="yelpRating" totalstars="5" checkedcolor="gold"
                                                uncheckedcolor="grey" size="24px" readonly="false"> </star-rating>
                                        </div>
                                        <div>
                                            <star-rating [(value)]="aggregateRating" totalstars="5" checkedcolor="gold"
                                                uncheckedcolor="grey" size="24px" readonly="false"> </star-rating>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div>
                                            (Not Available)
                                        </div>
                                        <div>
                                            (4.0)
                                        </div>
                                        <div>
                                            (Not Available)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                        </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>