<div class="container">
  <div id="invoice">
    <div class="invoice overflow-auto">
      <div style="min-width: 600px">
        <header>
          <div class="row">
            <div class="col-md-2">
              <a>
                <img src="{{proDetails.companylogo}}" data-holder-rendered="true"
                  style="width: 70%;height: 13d0px;" />
              </a>
            </div>
            <div class="col-md-7">
              <span>
                <div class="invoice-id"><b>{{proDetails.businessName}}</b></div>
                <div class="date">{{proDetails.street}}</div>
                <div class="date">{{proDetails.city}},{{proDetails.zipcode}}</div>
                <div class="date">Tel:&nbsp;&nbsp;{{proDetails.phoneNumber}}</div>
                <div class="date">email:&nbsp;&nbsp;{{proDetails.emailId}}</div>
              </span>
            </div>
            <div class="col-md-3" style="padding-left: 7%">
              <p><b>Estimate No:&nbsp;{{estimateDetails[0].estimateId}}</b></p>
              <p><b>Estimate Date:&nbsp;{{estimateDetails[0].dateCreated}}</b></p>
              <p *ngIf="estimateDetails[0].estimateStatus =='SENT'"><b>Estimate Status: &nbsp;Pending</b></p>
              <p *ngIf="estimateDetails[0].estimateStatus!=='SENT'"><b>Estimate Status:&nbsp;{{estimateDetails[0].estimateStatus}}</b></p>
            </div>
          </div>
        </header>
        <main>
          <div class="row contacts">
            <div class="col-md-2">
            </div>
            <div class="col-md-6">
              {{this.estimateDetails[0].billing_details.customerName}}
              <div>{{this.estimateDetails[0].billing_details.streetAddress}}</div>
              <div>
                {{this.estimateDetails[0].billing_details.city}},&nbsp;&nbsp;{{this.estimateDetails[0].billing_details.state}}&nbsp;&nbsp;{{this.estimateDetails[0].billing_details.zipcode}}
              </div>
              <div class="email">{{this.estimateDetails[0].billing_details.phoneNumber}}</div>
              <div class="email">{{this.estimateDetails[0].billing_details.emailId}}</div>
            </div>
            
            <div class="col-md-4" style="padding-left: 16%">
              {{this.estimateDetails[0].service_location.jobStreetAddress}}
              <div class="date">
                {{this.estimateDetails[0].service_location.city}},&nbsp;{{this.estimateDetails[0].service_location.state}}&nbsp;{{this.estimateDetails[0].service_location.zipcode}}
              </div>
              <div class="email">{{this.estimateDetails[0].service_location.contactNumber}}</div>
              <div class="email">{{this.estimateDetails[0].service_location.contactEmail}}</div>
            </div>
          </div>

          <table border="0" cellspacing="0" cellpadding="0">
            <thead style="background-color: #aaaa;">
              <tr>
                <th class="text-left">Item#</th>
                <th class="text-left">Type</th>
                <th>Name</th>
                <th>Description</th>
                <th>QTY</th>
                <th>Units</th>
                <th>Unit Price</th>
                <th>Sub TOTAL</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of priceBookList.pricebookItems let i = index;">
                <td class="text-left"></td>
                <td>
                  {{priceBookList.type}}
                </td>
                <td>{{data.data.serviceTitle}}</td>
                <td>{{priceBookList.priceBookDescription}}</td>
                <td>{{data.quantity}}</td>
                <td>{{data.units}}</td>
                <td>${{data.listPrice}}</td>
                <td>${{data.subTotal}}</td>
              </tr>
              <tr *ngFor="let data of materialList.customMaterialItems let i = index;">
                <td class="text-left"></td>
                <td>
                  {{materialList.type}}
                </td>
                <td>{{data.itemName}},&nbsp;&nbsp;{{data.manufacturer}}</td>
                <td>{{materialList.customLaborMaterialDescription}}</td>
                <td>{{data.qty}}</td>
                <td>{{data.unit}}</td>
                <td>${{data.listPrice}}</td>
                <td>${{data.subTotal}}</td>
              </tr>
              <tr *ngFor="let data of laborList.customLaborItems let i = index;">
                <td class="text-left"></td>
                <td>
                  {{laborList.type}}
                </td>
                <td>{{data.staffName}},{{data.description}}</td>
                <td>{{laborList.customLaborMaterialDescription}}</td>
                <td>{{data.quantity}}</td>
                <td>{{data.units}}</td>
                <td>${{data.billRate}}</td>
                <td>${{data.subTotal}}</td>
              </tr>
            </tbody>
          </table>
          <br/>
          <div class="row">
             <div class="col-8">
             </div>
             <div class="col-4">
              <div class="card" style="background-color: #ededed">
                <div class="card__content">
                  <div class="card__title">Pricebook Services:<span class="card-span">${{pricebookCost}}.00</span></div>
                  <div class="card__title">Total Material Cost:<span class="card-span">${{customMaterialCost}}.00</span></div>
                  <div class="card__title">TAX ({{taxPercentage}})%:<span class="card-span">${{taxPercentageValue}}.00</span></div>
                  <div class="card__title">Total Labor Cost:<span class="card-span"> ${{customLaborCost}}.00</span></div>
                  <div class="card__title">Total Estimate Price Before Discount:<span class="card-span">${{totalEstimatePriceBeforeDiscount}}.00</span></div>
                  <div class="card__title" style="color: green;" *ngIf="discountPromoCode !=='NA'">{{discountPromoCode}} discount:<span class="card-span">-${{discountValue}}.00</span></div>
                  <div class="card__title" style="color: green;" *ngIf="otherPromoValue !== ''">{{otherDescription}}:<span class="card-span">-${{otherPromoValue}}.00</span></div>
                  <div class="card__title" *ngIf="otherPromoValue !== ''"><b>Final Estimate Price After Discount:</b><span class="card-span">${{totalEstimatedPriceAfterDiscount}}.00</span></div>
                  <div class="card__title" *ngIf="otherPromoValue !== ''"><b>Required Deposit:</b> <span class="card-span">${{depositRequiredValue}}.00</span></div>
                </div>
              </div>
            </div>
          </div>
          <br/>
          <div class="card" style="background-color: #ffffbf;">
            <div class="card__content">
              <b style="color: #ffa551;">Estimate Notes To Customer:</b>
              <br/>
              <div class="card__title">Estimate Notes to Customer--->for testing.</div>
            </div>
          </div>
          <br/>
          <div class="card" style="background-color: #ffffbf;">
            <div class="card__content">
              <b style="color: #ffa551;">Job Site, Notes:</b>
              <br/>
              <div class="card__title">Estimate Notes to Customer--->for testing.</div>
            </div>
          </div>
          <br/>
          <div>
            <label>
              <input type="checkbox"/>
              &nbsp;&nbsp;&nbsp;
              <b>I READ AND I AGREE TO ALL TERMS & CONDITIONS</b>
            </label>
          </div>
        </main>
        <div class="row">
          <div class="col-md-2">
            </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-warning"><i class="fa fa-file-pdf-o"></i> &nbsp; &nbsp;View Pdf</button>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i>&nbsp; &nbsp;Reject</button>
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-success"><i class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp; &nbsp;Approve</button>
          </div>
        </div>
        <div class="text-right">
        </div>
      </div>
      <div></div>
    </div>
  </div>
</div>