<div class="container">
    <section class="projects_list personal_info pt-60 pb-30">
      <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-stats">
          <div class="row">
            <div class="col-lg-12 col-12">
              <div class="card pinfo_box shadow">
                <div class="row card-header m-0 justify-content-center">
                  <div class="col-lg-2 col-2">
                    <span class="d-block text-center"><i class="fa fa-angle-left"></i></span>
                  </div>
                  <div class="col-lg-8 col-5">
                    <h3>PRO Company Name</h3>
                  </div>
                  <div class="col-lg-2 col-2">
                    <span class="d-block text-center"><i class="fa fa-ellipsis-v"></i></span>
                  </div>
                </div>
                <div class="card-body">
                  <div class="container card mb-3" style="max-width: 1200px; height:200px">
                    <div class="row g-0" style="padding-top: 38px; padding-left: 48px;">
                      <div class="col-md-2">
                        <img src="../../../assets/images/7af0914c-6bb2-482a-8374-baa7738d6571.png" class="img-fluid rounded-start" alt="..."
                          style="width: 70%;height: 13d0px;">
                      </div>
                      <div class="col-md-6">
                        <div class="card-body container">
                          <h5 class="card-title"><b>PRO Company Name</b></h5>
                          <h6>PRO Street Address</h6>
                          <h6>City,State,Zip</h6>
                          <h6>Tel:</h6>
                          <h6>Web:</h6>
                          <h6>Email:</h6>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <h6>Estimate No:</h6>
                        <h6>Estimate Date:</h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="container" style="max-width: 1200px; height:200px">
                    <div class="row g-0" style="padding-top: 38px; padding-left: 48px;">
                      <div class="col-6">
                        <table>
                          <tbody>
                            <tr>
                              <th>Customer Name:
                                <h6>PRO Street Address</h6>
                                <h6>City,State,Zip</h6>
                                <h6>Tel:</h6>
                                <h6>Web:</h6>
                                <h6>Email:</h6>
                              </th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-6">
                        <div class="pinfo_btns">
                            <h5 class="card-title"><b>PRO Company Name</b></h5>
                            <h6>PRO Street Address</h6>
                            <h6>City,State,Zip</h6>
                            <h6>Tel:</h6>
                            <h6>Web:</h6>
                            <h6>Email:</h6>
                        </div>
                      </div>
  
                    </div>
                    <div class="row g-0" style="padding-top: 38px; padding-left: 48px;">
                    </div>
                  </div>
                </div>
                <hr>
                <div class="card-body">
                  <div class="container">
                    <div class="row">
                      <div class="col-1"></div>
                      &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                      <div class="col-11">
                        <div class="form-group">
                            <table class="line-items-container">
                                <thead>
                                  <tr>
                                    <th class="heading-quantity">Item</th>
                                    <th class="heading-subtotal">Type</th>
                                    <th class="heading-description">Description</th>
                                    <th class="heading-subtotal">Qty</th>
                                    <th class="heading-subtotal">Unit Price</th>
                                    <th class="heading-subtotal">Subtotal</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>1</td>
                                    <td>PB</td>
                                    <td>ServiceId,Package Type,Service Description</td>
                                    <td >1</td>
                                    <td class="bold">$600</td>
                                    <td class="bold">$600</td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>CUM</td>
                                    <td>Digg and Install Soft of 6" ABS
                                        Pipe,36" deep</td>
                                    <td >1</td>
                                    <td class="bold">$3500</td>
                                    <td class="bold">$3500</td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  
                <hr>
                <div class="card-body">
                  <div class="container">
                  </div>
                  <hr>
                  <div class="card-body">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>