<div class="sidebar" [ngClass]="{ 'expanded': isExpanded }">
  <div class="header">
    <span class="logo-lg logo">
      <img src="assets/tp-new-logofull.png" alt="logo" style="width: 153px;
      height: 40px;" />
    </span>
    <div class="toggle" (click)="handleSidebarToggle()">
      <span class="blue-color">
        <svg xmlns="http://www.w3.org/2000/svg" width="13.591" height="13.591" viewBox="0 0 13.591 13.591">
        <g id="baseline-arrow_downward-24px" transform="translate(13.591) rotate(90)">
          <path id="Path_11408" data-name="Path 11408" d="M0,0H13.591V13.591H0Z" fill="none"/>
          <path id="Path_11409" data-name="Path 11409" d="M13.061,8.53l-.8-.8L9.1,10.892V4H7.964v6.892L4.8,7.726l-.8.8,4.53,4.53Z" transform="translate(-1.735 -1.735)" fill="#ff6700"/>
        </g>
      </svg>
    </span>
    </div>
  </div>
  <br /><br />
  <div class="content">
    <div class="link">
      <div class="content" [routerLink]="['/customer/my-pros']" [routerLinkActive]="'active'">
        <div class="icon">
          <img src='../../../assets/images/proIcon.svg' style="width: 20px;
          height: 20px;">
        </div>
        &nbsp;&nbsp;
        <div class="title">My Pros</div>
      </div>
    </div>
    <div class="link with-children">
      <div class="content active" [routerLink]="['/customer/project-list',emailId,loginId]" [routerLinkActive]="'active'">
        <div class="icon">
          <img src='../../../assets/images/project1Icon.svg' style="width: 20px;
          height: 20px;">
        </div>
        &nbsp;&nbsp;
        <div class="title">Projects</div>
      </div>
    </div>
    <div class="link">
      <div class="content" [routerLink]="['/customer/lead-list']" [routerLinkActive]="'active'">
        <div class="icon">
          <img src='../../../assets/images/CallsIcon.svg' style="width: 20px;
          height: 20px;">
        </div>
        &nbsp;&nbsp;
        <div class="title">Calls</div>
      </div>
    </div>
    <div class="link">
      <div class="content" [routerLink]="['/customer/estimate-list']" [routerLinkActive]="'active'">
        <div class="icon">
          <img src='../../../assets/images/estimatesIcon.svg' style="width: 20px;
          height: 20px;">
        </div>
        &nbsp;&nbsp;
        
        <div class="title">Estimates</div>
      </div>
    </div>
    <div class="link">
      <div class="content" [routerLink]="['/customer/notifications']" [routerLinkActive]="'active'">
        <div class="icon">
          <img src='../../../assets/images/notificationIcon.svg' style="width:20px;height:20px">
        </div>
        &nbsp;&nbsp;
        <div class="title">Notifications</div>
      </div>
    </div>
    <div class="link">
      <div class="content" [routerLink]="['/customer/report-pro-list']" [routerLinkActive]="'active'">
        <div class="icon">
          <img src='../../../assets/images/Group 14358.svg' style="width:20px;height:20px">
        </div>
        &nbsp;&nbsp;
        <div class="title">Report a Pro</div>
      </div>
    </div>
    <div class="link">
      <div class="content" (click)="Logout()"  [routerLinkActive]="'active'">
        <div class="icon">
          <img src='../../../assets/images/logoutIcon.svg' style="width:20px;height:20px">
        </div>
        &nbsp;&nbsp;
        <div class="title">Log out</div>
      </div>
    </div>
  </div>
  <div class="footer"></div>
</div>