<div class="container">
    <div class="body">
        <div class="row">
            <div class="col-lg-4 col-sm-4 col-xs-12">
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="tabbable">
                    <br><br><br>
                    <div class="tab-pane in active">
                        <form (ngSubmit)="Login()">
                            <div class="login-container animated fadeInDown">
                                <div class="loginbox bg-white">
                                    <div class="loginbox-title" style="text-align: center;"></div>
                                    <br /><br /><br />
                                    <div class="loginbox-textbox">
                                        <div class="form-group input-wrapper">
                                            <input type="password" class="form-control " placeholder="Password"
                                                formControlName="emailId">
                                            <label for="stuff" class="fa fa-lock input-icon"></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="loginbox-signup">
                                                <input type="checkbox">
                                                &nbsp;
                                                <a>Remember me</a>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div></div>
                                            <div class="loginbox-signup">
                                                <a>Forgot Password?</a>
                                            </div>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-4">

                                        </div>
                                        <div class="col-md-6">
                                            <div class="loginbox-submit">
                                                <input type="submit" class="btn cubtn" value="Login">
                                            </div>
                                        </div>

                                    </div>
                                    <br />

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-12">
            </div>
        </div>
    </div>
</div>