<div>
  <div class="" *ngFor="let data of supportRequestDetails">
    <div class="container left">
      <div class="date">{{data.createdAt|date}}</div>
      <i class="icon fa fa-home"></i>
      <div class="content">
        <h2>{{data.ticketNumber}}</h2>
        <p>
          {{data.projectDescription}}
        </p>
      </div>
    </div>
    <div class="container right">
      <div class="date">12 Feb</div>
      <i class="icon fa fa-gift"></i>
      <div class="content">
        <h2>Ramesh</h2>
        <p>
          ticketNumber resolved
        </p>
      </div>
    </div>
  </div>
</div>