<!-- <div class="container"> -->
    <!-- <section class="projects_list personal_info pt-60 pb-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="card pinfo_box shadow">
                        <div class="row card-header m-0 justify-content-center">
                            <div class="col-lg-2 col-2">
                                <span class="d-block text-center"><i class="fa fa-angle-left"></i></span>
                            </div>
                            <div class="col-lg-8 col-5">
                                <h3>Support Request View</h3>
                            </div>
                            <div class="col-lg-2 col-2">
                                <span class="d-block text-center"><i class="fa fa-ellipsis-v"></i></span>
                            </div>
                        </div>
                        <section class="main-content">
                            <div class="container">
                                <br>
                                <br>
                                <table class="table">
                                    <tbody>
                                        <tr *ngFor="let data of supportRequestDetails">
                                            <td>
                                                <div class="user-info">
                                                    <div class="user-info__img">
                                                        <img src="../../../assets/images/user1.jpg" alt="User Img">
                                                    </div>
                                                    <div class="user-info__basic">
                                                        <h9 class="mb-0"><b>{{data.ticketNumber}}</b></h9>
                                                        <br />
                                                        <small class="text-muted mb-0">{{data.status}}</small>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="widget-content">
                                                    <div class="widget-content-outer">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left">
                                                                <div class="widget-subheading">{{data.projectDescription}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                            <td></td>
                                            <td>
                                                <div style="width:200px">
                                                    <small>{{data.createdAt |date}}
                                                    </small>
                                                </div>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
<div>
    <div class="" *ngFor="let data of supportRequestDetails">
        <div class="container left">
          <div class="date">{{data.createdAt|date}}</div>
          <i class="icon fa fa-home"></i>
          <div class="content">
            <h2>{{data.ticketNumber}}</h2>
            <p>
             {{data.projectDescription}}
            </p>
          </div>
        </div>
        <div class="container right">
          <div class="date">12 Feb</div>
          <i class="icon fa fa-gift"></i>
          <div class="content">
            <h2>Ramesh</h2>
            <p>
             ticketNumber resolved
            </p>
          </div>
        </div>
        <!-- <div class="container left">
          <div class="date">10 Jul</div>
          <i class="icon fa fa-user"></i>
          <div class="content">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>
              Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus erat sagittis non. Ut blandit semper pretium.
            </p>
          </div>
        </div>
        <div class="container right">
          <div class="date">18 May</div>
          <i class="icon fa fa-running"></i>
          <div class="content">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>
              Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus erat sagittis non. Ut blandit semper pretium.
            </p>
          </div>
        </div> -->
        <!-- <div class="container left">
          <div class="date">10 Feb</div>
          <i class="icon fa fa-cog"></i>
          <div class="content">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>
              Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus erat sagittis non. Ut blandit semper pretium.
            </p>
          </div>
        </div>
        <div class="container right">
          <div class="date">01 Jan</div>
          <i class="icon fa fa-certificate"></i>
          <div class="content">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>
              Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus erat sagittis non. Ut blandit semper pretium.
            </p>
          </div>
        </div> -->
      </div>
    </div>