<div class="container">
    <section class="projects_list pt-60 pb-30">
        <div class="container">
            <h3>Calls list</h3>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="pro_box shadow">
                        <div class="row m-0">
                            <div class="col-lg-12">
                                <div class="row proj_top">
                                    <div class="col-lg-6">
                                        <div class="input-group search_box">
                                            <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                                                aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary border-left-color border"
                                                    type="button">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="input-group">
                                            <select class="form-control m-0" id="">
                                                <option>All Dates</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="input-group">
                                            <select class="form-control m-0" id="exampleFormControlSelect1">
                                                <option>Status</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid p-0 m-0">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered text-center">
                                            <thead class="thead-bg-light">
                                                <tr>
                                                    <th scope="col">Project#</th>
                                                    <th scope="col">Project Name</th>
                                                    <th scope="col">Created On</th>
                                                    <th scope="col">Type</th>
                                                    <th scope="col"> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let data of leadsList | paginate: { itemsPerPage: 10, currentPage:pagination }">
                                                    <td *ngIf="data.leadId">
                                                        <!-- <a [routerLink]='["/customer/project-view",data._id]'>{{data.leadId}}</a> -->
                                                        <a [routerLink]='["/customer/lead-list"]'>{{data.leadId}}</a>
                                                       </td>
                                                    <td> {{data.projectName}}</td>
                                                    <td>{{data.createdOn}}</td>
                                                    <td>
                                                        <span class="badge badge-pill badge-primary cu_badge2" *ngIf="data.status === 'CALL'">Call</span>
                                                        <span class="badge badge-pill badge-primary cu_badge1_dispatch" *ngIf="data.status === 'ACTIVE'">CALL</span>
                                                        <span class="badge badge-pill badge-primary cu_badge1" *ngIf="data.leadStatus === 'ASSIGNED'">{{data.leadStatus}}</span>
                                                        <span class="badge badge-pill badge-primary cu_badge1_cancelled" *ngIf="data.leadStatus === 'CANCELED'">{{data.leadStatus}}</span>
                                                        <span class="badge badge-pill badge-primary cu_badge1_ongoing" *ngIf="data.leadStatus === 'ONGOING'">{{data.leadStatus}}</span>
                                                        <span class="badge badge-pill badge-primary cu_badge1_scheduled" *ngIf="data.leadStatus === 'SCHEDULED'">{{data.leadStatus}}</span>
                                                        <span class="badge badge-pill badge-primary cu_badge1_ongoing" *ngIf="data.isBookapro === 'true'">DIRECT BOOKING</span>
                                                        <span class="badge badge-pill badge-primary cu_badge1_completed" *ngIf="data.isGetquotes === 'true'">GET A QUOTE</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <div class="my-2" *ngIf="leadsList.length == 0">
                                                <div class="noRecord" > No Records Found</div>
                                            </div>
                                            </table>
                                            <div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cus_pagination pb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pro_pagination">
                        <nav aria-label="Demo of active current page number">
                            <pagination-controls (pageChange)="pagination = $event"></pagination-controls>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>