<div class="wrapper">
  <app-common-side-menu [isExpanded]="sidebarExpanded" (toggleSidebar)="sidebarExpanded = !sidebarExpanded">
  </app-common-side-menu>
  <app-common-header></app-common-header>
  
    <!-- Content Wrapper. Contains page content -->
      <section class="projects_list pt-60 pb-30" style="background-color:#FFF7F7;">
        <div class="content" [ngClass]="{ 'sidebarExpanded': sidebarExpanded }">
            <router-outlet></router-outlet>
        </div>
    </section>
    <app-common-footer></app-common-footer>
    <div class="control-sidebar-bg"></div>
  </div>