.loginbox-title1{
	font-weight: bold !important;
	font-size: 20px !important;
	text-align: center !important;
	color: #5DB2FF;
  }

  .loginbox-textbox {
    padding: 10px 40px;
}

.errspan {
	float: right;
	margin-right: 6px;
	margin-top: -20px;
	position: relative;
	z-index: 2;
	color: red;
}

.input-icon{
	position: absolute;
	left: 6px;
	top: calc(30% - 0.5em); /* Keep icon in center of input, regardless of the input height */
  }
  input{
	padding-left: 26px;
  }
  .input-wrapper{
	position: relative;
  }

  .input-icon1{
	position: absolute;
	right: 6px;
	top: calc(30% - 0.5em); /* Keep icon in center of input, regardless of the input height */
  }

  .input-passwordicon{
	position: absolute;
	left: 6px;
	top: calc(50% - 0.5em); /* Keep icon in center of input, regardless of the input height */
  }