.pinfo_contact_form3 .btn2 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: -2px 40px;
    background-color: #ff6700;
    border-color: #ff6700;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}